version: '3.8'

services:
  rag-app:
    build: .
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./app/data:/app/app/data  # Mount data volume for persistence/updates
    restart: always
